html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.15;
  background-color: #ffffff;
  color: rgb(2, 39, 119);
}
/* Responsive Images 
------------------------------------- */
.img {
  width: 100%;
  height: auto;
}

.dark-mode {
  background-color: rgb(20, 19, 19);
  color: white;
}

/* Start Nav2 */
.nav2 {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.li-nav2 {
  float: left;
}
.li-nav2 a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-social {
  text-align: center;
}
.nav-social:hover {
  color: #00335f;
}
#social-icon {
  text-align: center;
}
#social-icon:hover {
  color: #aa1d04;
}
/* List Style View - Basic
-------------------------------------------------------------- */

dt {
  font-family: monospace;
  font-size: 20px;
}
dd {
  font-family: serif;
  color: white;
}

/* Page Style 
------------------------------------------------------------- */
.body {
  color: white;
}
a:any-link {
  color: #00335f;
}
h3.BlogHeader {
  margin-left: 30px;
}
li.BlogList {
  margin-left: 35px;
}
/*          BUTTONS   --------------------------------------*/

.button {
  cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	border-radius: 2em;
	padding: 1rem 3rem;
	text-decoration: none;
	font-family: inherit;
	max-width: 100%;
}


/* certification header blocks 
--------------------------------------------------------------------*/
.a {
  overflow: hidden;
  font-weight: lighter;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: left;
  animation-delay: 1s;
  animation-duration: 8s;
  animation-timing-function: steps (24, end);
  animation-iteration-count: infinite;
}
@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 18em;
  }
}

/* Home Page 3 columns
---------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
.row {
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column{
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  }
}

/* Base Formatting for Header 
-------------------------------------------*/
.resume {
  margin: 5px;
  width: auto;
}
#myMental {
  text-align: center;
}
#mySpecialty {
  text-align: center;
  max-width: fit-content;
  margin: 0 auto;
}


/* Blocks surrounding text and images on Header
------------------------------------------------------------------------*/
.block {
  width: 180px;
  height: 60px;
  margin: 10px;
  display: inline-flex;
  background: #ffffff;
  border-radius: 5px;
  font-size: 22px;
  align-items: center;
  justify-content: center; 
}
.block:hover {
  background: #a5c3df;
}
.block a:hover{
  color: #aa1d04;
}
/* Stack Section on Header 
-----------------------------------------------------------------------*/

.stack {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-flex;
  background: transparent;
  border-radius: 5px;
  font-size: 22px;
  align-items: center;
  justify-content: center;
}
.stack a {
  align-items: center;
}
.stack a:hover{
  color: #aa1d04;
}
.stack:hover {
  background: #a5c3df;
  color: #aa1d04;
}


/* FOOTER */
.footer {
  display:block;
}
/* LOADING SCREEN ------------------------------------->     */ 
/*
 * Baseline styles
 */
.loading {
  text-align: center;
  padding: 10%;
}
h3 {
  color: #00335f;
  margin: 0;
  font: .8em verdana;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h4 {
  font-size: small;
}
/*
 * Loading Dots
 * Can we use pseudo elements here instead :after?
 */
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
  background: #008FB2;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #009B9E;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #00A77D;
  animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: #00B247;
  animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
  background: #5AB027;
  animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
  background: #A0B61E;
  animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
