html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.15;
  background-color: #ffffff;
  color: #295bb9;
}
.body {
  color: white;
}
a:any-link {
  color: #295bb9;
}
.stack {
  width: 40px;
  height: 40px;
  margin: 2px;
  display: inline-flex;
  background: transparent;
  border-radius: 5px;
  font-size: 22px;
  align-items: center;
  justify-content: center;
}
.stack a {
  align-items: center;
}
.stack a:hover{
  color: #b60303;
}
.stack:hover {
  background: #a5c3df;
  color: #2980b9;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 75%;
  margin: auto;
  text-align: center;
  padding: 4px;
  height: fit-content;
}
.card:hover {
  padding: 5px;
  background-color: #cedef9;
}
.title {
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3c4d74;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}
button:hover, a:hover {
  opacity: 0.9;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(207, 36, 36);
}