@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
body {
  font-family: "Lato";
  background: #2980b9;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Neumorphic Design --> Start */
@charset "UTF-8";
/* === COLOURS & VARIABLES === */
:root {
  --primary: #2980b9;
  --background: #e0e5ec;
}

/* === SHADOW TYPES === */
/* === SETUP === */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 400;
}
@media screen and (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    transition: none !important;
  }
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background-color: #f8b639;
}

::selection {
  text-shadow: none;
  color: #fff;
  background-color: #2980b9;
}

html {
  box-sizing: inherit;
}

body {
  background: #e0e5ec;
  color: #2980b9;
  padding: 2rem;
  font-family: "Baloo Thambi 2", cursive !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 30em) {
  body {
    font-size: 1.5rem;
  }
}
body > p {
  margin: 0;
}

button {
  color: inherit;
}

a {
  color: inherit;
  font-weight: 700;
  transition: all 260ms ease;
}
a:hover, a:focus {
  color: #2980b9;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 30em) {
  h1 {
    font-size: 4rem;
  }
}

blockquote {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}
@media screen and (min-width: 30em) {
  h2 {
    font-size: 2.5rem;
  }
}

/* === TEXT MODIFIERS === */
.emboss, .clock-alt {
  background: #fff;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-shadow: rgba(0, 0, 0, 0.25) 1px 2px 1px;
}

.engrave, .quote::before {
  background: #b1b1b1;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 2px 1px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* === SHADOW TYPES ===*/
.shadow--outset, .shadow--raised, .shadow--inset, .shadow--sunken, .shadow--ridge {
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  background: #e0e5ec;
  cursor: default;
  -webkit-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
}
@media screen and (min-width: 30em) {
  .shadow--outset, .shadow--raised, .shadow--inset, .shadow--sunken, .shadow--ridge {
    padding: 1rem 3rem;
  }
}
.shadow--outset {
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.shadow--raised {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #fff, inset -0.2rem -0.2rem 0.5rem rgba(195, 193, 198, 0.9), 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.shadow--inset {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
}
.shadow--sunken {
  box-shadow: -0.3rem -0.3rem 0.5rem rgba(195, 193, 198, 0.9), 0.2rem 0.2rem 0.4rem #fff;
}
.shadow--ridge {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff, 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}

/* === CONTAINERS === */
section {
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1.2rem;
  background: #e0e5ec;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

/* === BUTTONS === */
.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 1.2rem;
  padding: 1rem 3rem;
  transition: all 260ms ease;
  text-decoration: none;
  font-family: inherit;
  max-width: 100%;
  color: #2980b9;
  background: #e0e5ec;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.button:hover, .button:focus {
  color: #2980b9;
  outline: none;
}
.button:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
}
.button--raised {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #fff, inset -0.2rem -0.2rem 0.5rem rgba(195, 193, 198, 0.9), 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.button--pill {
  border-radius: 2.4rem;
}
.button--primary {
  color: #e0e5ec;
  background: #2980b9;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #2980b9, inset -0.2rem -0.2rem 0.5rem #2980b9, 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.button--primary:hover, .button--primary:focus {
  color: #fff;
}
.button--primary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #2980b9, inset -0.2rem -0.2rem 0.5rem #2980b9;
}
.button--round, .button--square {
  border-radius: 50%;
  min-height: 4rem;
  min-width: 4rem;
  max-height: 4rem;
  max-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.button--round .button__icon, .button--square .button__icon {
  height: 2rem;
  width: 2rem;
}
.button--square {
  border-radius: 1.2rem;
}
.button--pin {
  border-radius: 50%;
  min-height: 2rem;
  min-width: 2rem;
  max-height: 2rem;
  max-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.button--pin .button__icon {
  height: 1.8rem;
  width: 1.8rem;
}

/* === TEXT FIELD === */
.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  width: 100%;
}
.textfield span {
  font-size: 1.2rem;
}
.textfield div {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
  background: #e0e5ec;
  border: none;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}
.textfield div .textfield__icon {
  margin-right: 0.5rem;
}
.textfield div input {
  background: transparent;
  border: none;
  color: #2980b9;
  flex: 1;
}
.textfield div input::-moz-placeholder {
  color: #c3c1c6;
}
.textfield div input:-ms-input-placeholder {
  color: #c3c1c6;
}
.textfield div input::placeholder {
  color: #c3c1c6;
}
.textfield div input:focus {
  outline: none;
}
.textfield div:focus-within {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff, 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.textfield div:focus-within .textfield__icon {
  color: #2980b9;
}

/* === CHECKBOX === */
.checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.2rem;
  gap: 0.3rem;
}
.checkbox:hover .checkbox__input ~ .checkbox__checkmark::after {
  border-color: #2980b9;
}
.checkbox__input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
.checkbox__input:checked ~ .checkbox__checkmark, .checkbox__input:checked:hover ~ .checkbox__checkmark {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
}
.checkbox__input:checked ~ .checkbox__checkmark::after, .checkbox__input:checked:hover ~ .checkbox__checkmark::after {
  border-color: #2980b9;
}
.checkbox__input:focus ~ .checkbox__checkmark::after {
  border-color: #2980b9;
}
.checkbox__checkmark {
  align-items: center;
  background-color: #e0e5ec;
  display: flex;
  justify-content: center;
  height: 2.8rem;
  width: 2.8rem;
  transition: all 260ms ease;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.checkbox__checkmark::after {
  border: solid #b1b1b1;
  border-width: 0 3px 3px 0;
  content: "";
  height: 50%;
  transform: rotate(45deg);
  width: 25%;
  transition: all 260ms ease;
}

/* === RADIO === */
.radio {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.2rem;
  gap: 0.3rem;
}
.radio:hover .radio__input ~ .radio__checkmark::after {
  background-color: #2980b9;
}
.radio__input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
.radio__input:checked ~ .radio__checkmark, .radio__input:checked:hover ~ .radio__checkmark {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
}
.radio__input:checked ~ .radio__checkmark::after, .radio__input:checked:hover ~ .radio__checkmark::after {
  background-color: #2980b9;
}
.radio__input:focus ~ .radio__checkmark::after {
  background-color: #2980b9;
}
.radio__checkmark {
  align-items: center;
  background-color: #e0e5ec;
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  transition: all 260ms ease;
  border-radius: 50%;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.radio__checkmark::after {
  background-color: #b1b1b1;
  border-radius: 50%;
  content: "";
  height: 50%;
  width: 50%;
  transition: all 260ms ease;
}

/* === SWITCH === */
.switch {
  position: relative;
  display: inline-flex;
  width: 4rem;
  height: 2.2rem;
}
.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__input:checked + .switch__slider {
  background: #2980b9;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #2980b9, inset -0.2rem -0.2rem 0.5rem #2980b9, 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}
.switch__input:checked + .switch__slider::before {
  transform: translate(calc(100% - 0.25rem), -50%);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e0e5ec;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #fff, inset -0.2rem -0.2rem 0.5rem rgba(195, 193, 198, 0.9), 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  transition: 0.4s;
  border-radius: 1.2rem;
}
.switch__slider::before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  left: 0.25rem;
  top: 50%;
  transform: translatey(-50%);
  background: #e0e5ec;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-alt {
  position: relative;
  display: inline-flex;
  width: 4rem;
  height: 2.2rem;
}
.switch-alt__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-alt__input:checked + .switch-alt__slider::before {
  transform: translate(100%, -50%);
}
.switch-alt__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e0e5ec;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff, 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  transition: 0.4s;
  border-radius: 1.2rem;
}
.switch-alt__slider::before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  left: 0.25rem;
  top: 50%;
  transform: translatey(-50%);
  background: #e0e5ec;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  transition: 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  border-radius: 50%;
}

/* === CHIPS === */
.chip {
  display: flex;
  align-items: center;
  background: #e0e5ec;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  border-radius: 1.2rem;
  padding: 1rem 1.5rem;
  font-size: 70%;
  position: relative;
  max-width: 100%;
  word-wrap: anywhere;
}
@media screen and (min-width: 30em) {
  .chip {
    padding: 1rem 3rem;
  }
}
.chip__close {
  padding: 0;
  background: transparent;
  border: none;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 120%;
  cursor: pointer;
  transition: all 260ms ease;
}
.chip__close:hover, .chip__close:focus {
  color: #2980b9;
}

/* === ALERTS === */
.alert {
  background: #e0e5ec;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff, 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  padding: 1rem 1.75rem 1rem 1.25rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: baseline;
  position: relative;
  width: 100%;
  word-wrap: anywhere;
}
@media screen and (min-width: 30em) {
  .alert {
    padding: 1rem 3.5rem 1rem 2.5rem;
  }
}
.alert__icon {
  color: #2980b9;
}
.alert__close {
  border: none;
  background: transparent;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: inherit;
  cursor: pointer;
}
.alert__close:hover, .alert__close:focus {
  color: #2980b9;
}

/* === TOOLTIPS === */
.tooltip {
  position: relative;
}
.tooltip__text {
  visibility: hidden;
  background-color: #e0e5ec;
  white-space: nowrap;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  text-align: center;
  border-radius: 0.6rem;
  padding: 0.25rem 0.5rem;
  position: absolute;
  z-index: 1;
  margin-bottom: 1rem;
  bottom: 100%;
  left: 50%;
  transform: translatex(-50%);
  opacity: 0;
  transition: opacity 260ms ease;
}
@media screen and (min-width: 30em) {
  .tooltip__text {
    padding: 0.5rem 1rem;
  }
}
.tooltip__text::after {
  content: "";
  position: absolute;
  filter: drop-shadow(0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9));
  top: 100%;
  left: 50%;
  transform: translatex(-50%);
  border-width: 0.75rem;
  border-style: solid;
  border-color: #e0e5ec transparent transparent transparent;
}
.tooltip:hover .tooltip__text, .tooltip--visible .tooltip__text {
  visibility: visible;
  opacity: 1;
}
/* === BLOCKQUOTE === */
.quote {
  padding: 6vmin;
  background: #e0e5ec;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
  border-radius: 1.2rem;
  position: relative;
}
.quote::before {
  content: "“";
  position: absolute;
  top: 3vmin;
  left: 4vmin;
  font-size: 6vmin;
  font-family: sans-serif;
}
.quote span {
  display: flex;
  margin-top: 1.2vmin;
  font-size: 80%;
}